# Project environment
.venv

# Node dependencies
node_modules

# Logs
logs
*.log

# exclude secrets
.env

# exclude cache
*.pyc
__pycache__/

# testing
.pytest_cache/
.coverage
htmlcov/

# Ignore folders
todo/
.codewhale

# exclude tailwind utilites
booklist/static/styles/style.css