{% extends "layout.html" %} {% block content %}
<main class="h-full w-full">
  <section class="mx-auto max-w-7xl px-6 py-4">
    <div class="grid gap-8 grid-cols-2">
      {% for book in books %}
      <a class="flex overflow-hidden rounded-lg bg-white shadow-md" href="/book/{{ book.id }}">
        <img src="{{ book.thumbnail }}" alt="{{ book.title }}" class="h-48 w-32 object-cover" />
        <div class="flex-1 p-4">
          <h3 class="text-lg font-semibold">{{ book.title }}</h3>
          <p class="text-sm text-gray-600">
            {{ book.publication_year }} • {{ book.genre }} •
            <span class="font-medium text-yellow-800">
              <ion-icon name="star" style="color: goldenrod"></ion-icon> {{ book.rating }}</span
            >
          </p>
          <p class="mt-2 line-clamp-4 text-sm text-gray-700">{{ book.summary }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
