<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} BookList - Collection of Book List {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/base.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
      .hide {
        display: none;
      }
    </style>
    <script>
      function getCookie(name) {
        const value = `; ${document.cookie}`; // Prepend a semicolon for consistent splitting
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
          return parts.pop().split(';').shift(); // Extract the value before the next semicolon
        }
        return null; // Cookie not found
      }
    </script>
    <!-- Other head tags -->
    {% block head %} {% endblock %}
  </head>
  <body>
    <header class="mx-auto h-max w-full max-w-screen-2xl p-2.5 lg:p-4">
      <nav class="bg-transparent px-6 py-4 text-white">
        <div class="mx-auto flex max-w-7xl items-center justify-between">
          <!-- Logo / Hero -->
          <a href="/" class="text-2xl font-bold tracking-wide text-indigo-400">📕 BookCollection</a>

          <!-- Right: User Info -->
          <div class="flex items-center space-x-4">
            <a href="/auth/user/profile" class="flex flex-col items-center">
              <div
                class="flex h-10 w-10 p-2 items-center justify-center rounded-full bg-indigo-200 text-sm font-bold text-white"
                id="logged-in-username"
              >
                <ion-icon name="person" size="large"></ion-icon>
              </div>
            </a>
            <button class="rounded-lg bg-red-600 px-4 py-2 text-sm font-medium hover:bg-red-500" id="logout-button">
              <span>Logout</span>
              <script>
                const logOutButton = document.getElementById('logout-button');
                logOutButton.addEventListener('click', function () {
                  document.cookie = `session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
                  location.reload(true);
                });
              </script>
            </button>
          </div>
        </div>
      </nav>
    </header>
    <!-- Dynamic Content -->
    {% block content %}
    <!-- Child templates will insert content here -->
    {% endblock %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
